# Pastas de build e de saída
[Bb]in/
[Oo]bj/
.vs/

# Arquivos de depuração e de compilação
*.exe
*.dll
*.pdb
*.suo

# Arquivos de modelo da IA do Whisper.net
# Estes são arquivos muito grandes e devem ser ignorados.
# O seu código baixa eles automaticamente quando necessário.
*.gguf
*ggml-large-v3.bin